# 基本

- これは、競技プログラミング（主に AtCoder）で用いる Haskell のテンプレートを管理するリポジトリである。
- テンプレートの本体は app/Main.hs であり、基本的に全てのコードはこのファイルに書くこととする。ただし、テストコードについては tests 以下に置くこと。
- 簡潔で、Haskell らしいコードを書くようにすること。
- 高速なコードを書くようにすること。
- 新しい関数を追加した際には、なるべくテストコードも合わせて追加すること。また、コードを修正したときは必ずテストが通ることをチェックすること。
- AtCoder 環境の Haskell のバージョンや利用できるライブラリに合わせてある。勝手にバージョンを上げたり、ライブラリを追加インストールしたりしないこと。

# コマンド

- プログラムを実行するには `stack runghc app/Main.hs` とすればよい。
- テストを実行するには `stack test` とすればよい。
